body {
    background-color: rgb(43, 42, 42);
    width: 1200px;
    margin: auto;
}
.container {
    margin-top:50px;
    width: 800px;
    margin: auto;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    padding: 16px;

    
}
.h1 {
    margin-top: 20px;
}
.input {
    padding: 10px 10px;
}
button {
    background-color: #ccc;
    color: black;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 3px 10px;
    line-height: 20px;
    
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}
p {
    margin-top: 20px;
}
input[type="text"] {
    background-color: #cccc;
    outline: none;
    border: none;
    padding: 3px 10px;
    color: blue;
}
.body {
    width: 800px;
    margin: auto;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    
}
.body h1
{
    text-align: center;
}
.body a {
    display: grid;
    text-align: center;
}
.icon {
    display: flex;
    justify-content: center;
    padding: 12px 14px;
}
.icon-i {
    padding: 10px 20px;
}
.icon-i:hover {
    cursor: pointer;
    opacity: 0.8;
}
.container {
    margin-top: 50px;
}